<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>ジャンル編集</h2><br>

    <div class="edit-genre-form">
    <%= form_for(@genre, url: admin_genre_path) do |f| %>

          <%= f.label :ジャンル %>
          <%= f.text_field :name,class: "col-md-4" %>

          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "有効"  %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "無効" %>
          <%= f.submit "変更を保存する" ,class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>