<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: customer_password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "public/customers/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :encrypted_password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :encrypted_password, "Confirm new password" %><br />
    <%= f.password_field :pencrypted_password, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "public/customers/shared/links" %>
