<div class="row">
	  <div class="col-xs-2">
	    <%= render 'public/items/sidebar', genres: @genres %>
	  </div>
	  <h2 style="margin: 20px 0;">商品一覧</h2>
		<div class="col-xs-9 col-xs-offset-1">
		  <div class="product-card-content">
			<% @items_all.each do |item| %>
        <!-------- ジャンル有効かつアイテム販売中 -------->
				<% if item.genre.is_active == true && item.is_active == false %>

				  <div class="col-xs-3" style="padding-right: 0px; padding-left: 0px; margin: 10px 0; height:180px;">
					<%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
					<%= attachment_image_tag item, :image, :fill, 200, 150, format: 'jpeg',fallback: "no_image.jpg", size:'200x150' %><br>
					<%= item.name %><br>
                    ¥ <%= ((item.price*1.1).floor).to_s(:delimited, delimiter: ',') %> (税込)<br>
		           <% end %>
				  </div>
        <!-------- ジャンル有効かつアイテム販売停止 -------->
				<% elsif item.genre.is_active == true && item.is_active == true %>

				  <div class="col-xs-3" style="padding-right: 0px; padding-left: 0px; margin: 10px 0; height:180px;">
					<%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
					  <%= attachment_image_tag item, :image, :fill, 200, 150, format: 'jpeg',fallback: "no_image.jpg", size:'200x150' %><br>
                        <div class= "text-danger"><%= "#{item.name}"+" " +"販売中止" %></div>
						  ¥<%=((item.price*1.1).floor).to_s(:delimited, delimiter: ',') %> (税込)
                      <% end %>
		          </div>
		        <% end %>
			<% end %>
		  </div>
	    </div>
</div>