<script src="https://kit.fontawesome.com/17810510b7.js" crossorigin="anonymous"></script>

<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <h1 class="header_logo"><%= link_to image_tag("dog.png", width: '70', alt: "サンプル画像"), root_path, data: {"turbolinks" => false}%></h1>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if customer_signed_in? %>
          <!---------------------カスタマーがログインしている時 ----------------->
          <li id="welcom_cutoumer">
           ようこそ、<%= "#{current_customer.family_name}" + "#{current_customer.first_name}" %>さん！
          </li>
          <!-- 14行目root_pathをマイページに遷移するように直す -->
          <li><%= link_to "マイページ", customer_path(current_customer), class:"header_menu" %></li>
          <li class="partition">|</li>
          <li><%= link_to "商品一覧", items_path, class:"header_menu" %></li>
          <li class="partition">|</li>
          <li><%= link_to "カート", cart_items_path, class:"header_menu" %></li>
          <li class="partition">|</li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"header_menu" %></li>

        <% elsif admin_signed_in? %>
          <!----------------- 管理者がログインしている時 ------------------------>
          <li><%= link_to "商品一覧", admin_items_path, class:"header_menu" %></li>
          <li class="partition">|</li>
          <li><%= link_to "会員一覧", admin_customers_path, class:"header_menu" %></li>
          <li class="partition">|</li>
          <li><%= link_to "注文履歴一覧", admin_orders_path, class:"header_menu" %></li>
          <li class="partition">|</li>
          <li><%= link_to "ジャンル一覧", admin_genres_path, class:"header_menu" %></li>
          <li class="partition">|</li>
          <!-- 38行目root_pathからabout_pathに直す -->
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"header_menu" %></li>
          <p></p><br>
          <div class="search-form">
            <%= form_tag(search_path, method: :get) do %>
              <%= text_field_tag (:word) %>
              <%= select_tag 'range' ,options_for_select([['---選択してください---', ''], ['商品', 'item'], ['会員', 'customer']]) %>
              <%= select_tag 'search', options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
              <%= submit_tag "検索" %>
            <% end %>
          </div>

        <% else %>
          <!------------------- ログインしていない時 ------------------------->
          <li><%= link_to "商品一覧", items_path, class:"header_menu" %></li>
          <li class="partition">|</li>
          <li><%= link_to "新規登録", new_customer_registration_path, class:"header_menu" %></li>
          <li class="partition">|</li>
          <li><%= link_to "About", about_path, class:"header_menu" %></li>
          <li class="partition">|</li>
          <li><%= link_to "ログイン", new_customer_session_path, class:"header_menu" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
